<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Avalon</title>
    <style>
        body {
            background-color: #eee;
        }

        textarea {
            height: 120px;
            overflow: auto;
            width: 100%;
        }

        td {
            min-width: 200px;
            font-size: 20px;
        }

        input {
            width: 90%;
            border: none;
            background: none;
        }

        .first {
            max-width: 400px;
            margin: 0 auto;
        }

        .btn-block {
            width: 180px;
            margin-top: 5px;
        }

        .container {
            width: 400px;
        }
    </style>
</head>

<body>
    <div class="container">
        <form action="/update/" method="post">{% csrf_token %}
            <div class="first">
                <h2>游戏信息</h2>
                <table>
                    <tr>
                        <td>房间号</td>
                        <td>
                            <input type="text" name="room_num" value="{{room_num}}" autocomplete="off" readonly/></td>
                    </tr>
                    <tr>
                        <td>你的名字</td>
                        <td>
                            <input type="text" name="name" value="{{name}}" readonly /></td>
                    </tr>
                    <tr>
                        <td>你的身份</td>
                        <td>{% if role == 1 %}好人{% elif role == 2 %}坏人{% else %}{% endif %}</td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-lg btn-block  btn-primary" type="submit"
                                formaction="/update/">刷新</button></td>
                        <td>{% if status == 0 %}
                            <button class="btn btn-lg btn-block  btn-primary" type="submit"
                                formaction="/leave/">离开</button>{% endif %}</td>
                    </tr>
                    <tr>
                        <td>{% if status != 0 %}
                            <button class="btn btn-lg btn-block  btn-primary" type="submit"
                                formaction="/vote/1/">任务成功</button>{% endif %}</td>
                        <td>{% if status != 0 %}
                            <button class="btn btn-lg btn-block  btn-primary" type="submit"
                                formaction="/vote/0/">任务失败</button>{% endif %}</td>
                    </tr>
                    <tr>
                        <td>{% if op %}
                            <button class="btn btn-lg btn-block  btn-primary" type="submit"
                                formaction="/start/">游戏开始</button>{% endif %}</td>
                        <td>{% if op %}
                            <button class="btn btn-lg btn-block  btn-primary" type="submit"
                                formaction="/delete/">删除游戏</button>{% endif %}</td>
                    </tr>
                </table>
            </div>
            <div class="first">
                <h2>玩家表</h2>
                <div class="row">
                {% for i,j in players.items %}<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">{{ j.0 }} {{ i }} {% if role == 2 %}{% if j.1 == 1 %}好人{% elif j.1 == 2 %}坏人{% else %}{% endif %}{% endif %}</div>{% endfor %}
                </div>
            </div>
            <div class="first">
                <h2>记录</h2>
                {% for i in record %}{{ i }}<br>{% endfor %}<br>
            </div>
            <div class="first">
                <h2>秘密投票</h2>
                <table>
                    <tr>
                        <td>赞成人数: {{ secret_num }}</td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-lg btn-block  btn-primary" type="submit"
                                formaction="/secret/0/">赞成组队</button></td>{% if op %}
                        <td>
                            <button class="btn btn-lg btn-block  btn-primary" type="submit"
                                formaction="/secret/1/">重置投票</button></td>{% endif %}
                    </tr>
                </table>
            </div>
        </form>{% if note %}
        <h3>System: {{ note }}</h3>{% endif %}
    </div>
</body>

</html>