<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Avalon</title>
    <style>
        body {
            background-color: #eee;
        }

        .myform {
            max-width: 300px;
            margin: 0 auto;
            padding-bottom: 25px;
        }

        .form-control {
            margin-bottom: 10px;
        }

        .container {
            padding-top: 5%;
        }
    </style>
</head>

<body>
    <div class="container">
        <form action="/create/" method="get" class="myform">
            <h2>创建新房间</h2>
            <input type="text" name="name" placeholder="你的名字" class="form-control" />
            <button class="btn btn-lg btn-block btn-primary" type="submit">创建</button>
        </form>
        <form action="/join/" method="get" class="myform">
            <h2>加入房间</h2>
            <input type="text" name="room_num" autocomplete="off" placeholder="房间号" class="form-control" />
            <input type="text" name="name" placeholder="你的名字" class="form-control" />
            <button class="btn btn-lg btn-block btn-primary" type="submit">加入</button>
        </form>
        <h3 class="myform">{% if note %}System: {{ note }}{% endif %}</h3>
    </div>
</body>

</html>